<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="hero">
    <div class="content"> 
      <h1 class="text-center" style="color:darkmagenta">Welcome To SPGSonsAndBrother</h1>
      <h1 class="text-center fs-1 lh-sm" style="color:darkcyan">India's Leading Corporate Gifting <br>Company</h1>
      <hr class="border border-danger border-3 opacity-75" width="20%" >
      <h1 class="text-center fs-1 lh-lg" style="color:crimson">Find A Perfect Gift For Your Corporate Gifting Requirements</h1>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </div>
  </div>
  <div class="aboutus">
    <h2>About US</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, magnam facere. Explicabo repudiandae, unde quod nobis fuga esse dicta molestiae architecto corporis voluptatem quas odio ipsa accusamus, iusto hic quo.
    Consequuntur officia sit ipsum magni! Nihil consequatur perspiciatis illo odio asperiores nostrum quia commodi earum perferendis! Cumque libero, consectetur tenetur aliquam amet dolor, pariatur quis sunt totam, mollitia alias unde.
    Repudiandae error nobis impedit, quasi et excepturi, ipsam rem perspiciatis delectus quas quae vero at facere laborum modi animi libero fugit expedita obcaecati a tenetur atque placeat consequatur. Asperiores, nam!
    Magni blanditiis et maiores, consequatur fugiat, optio dignissimos quia facere rerum aperiam quasi asperiores, maxime suscipit fugit quas. Incidunt repellendus ullam libero adipisci a. Quaerat atque cumque odio reprehenderit iusto?
    Laboriosam culpa dolorem doloremque alias? Doloribus mollitia aspernatur beatae voluptas quo eos impedit dolores excepturi ea, corporis ipsum, nostrum error libero ipsam explicabo doloremque aperiam nemo consectetur? Sapiente, accusantium velit.</p>
  </div>
  
  <footer class="footer">
   
    <div class="container">
        <div class="more">
            <div class="minfo">
                <div class="ficon"><i class="fa fa-truck" style="font-size:30px;"></i></div>
                <div class="fcontent">
                    <h2>Global Shipping</h2>
                    <p>We globally shipped to our client</p>
                </div>
            </div>
            <div class="minfo">
                <div  class="ficon"><i class="fa-regular fa-face-smile" style="font-size:30px;"></i></div>
                <div class="fcontent">
                    <h2>Quality Customization</h2>
                    <p>Quality Customization On All Products</p>
                </div>
            </div>
            <div class="minfo">
                <div  class="ficon"><i class="fa-solid fa-shield-halved" style="font-size:30px;"></i></div>
                <div>
                <h2>Best Quality Products</h2>
                <p>We Stock Some of the Best Brand</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Service</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
               <ul>
                   <li><a href="">FAQ</a></li>
                   <li><a href="">Shipping</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Top Category</h4>
                <ul>
                    <li><a href="">Office Utility</a></li>
                    <li><a href="">Power Bank</a></li>
                    <li><a href="">Promotional Gifts</a></li>
                    <li><a href="">USB Pen Drive</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                <ul>
                    <a href="#" ><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" ><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" ><i class="fa-brands fa-instagram"></i></a>
                </ul>
            </div>
            </div>
        </div>
    </div>
    
 </footer>
</body>
</html>

 

