<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="content">
            <!-- <h1>We Love to hear from You</h1> -->
            <!-- <p> We Love to hear from You<br>Our team is  love to answer all your question</p> -->
             <span id="heading">We Love to hear from You!!</span><br>
             <span id="paragraph">Our team is  love to answer all your question, We try to rectify your problem and provide best possible satisfaction to you.</span>
        </div>
    </div>
    <div class="below-box">
        <div class="information">
            <div class="icon"><i class="fa fa-phone" style="font-size:30px;"></i></div>
            <div class="phone">
                <h3 class="lh-1">PhoneNo.</h3>
                <p>8171047608</p>
            </div>
            <div class="icon"><i class="fa fa-address-card" style="font-size:30px;"></i></div>
            <div class="address">
                <h3 class="lh-1">Address</h3>
                <p>9A/A-1 Block KrishnaApartment PaschimVihar West, New Delhi</p>
            </div>
            <div class="icon"><i class="fa fa-envelope" style="font-size:30px;"></i></div>
            <div class="email">
                <h3 class="lh-1">Email</h3>
                <p>kushagragupta76@gmail.com</p>
            </div>
        </div>
        <div class="contactform">
         <form>
            <h2>SendMessage</h2>
            <div class="name"><input type="text" placeholder="Name"></div><br>
            <div class="email"><input type="text" placeholder="Email"></div><br>
            <div class="textarea"><textarea placeholder="Write Your Query"></textarea></div>
            <div class="button"><button class="btn btn-primary btn-lg">Submit</button></div>
         </form>
        </div>
    </div>
</body>
</html>